<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JS - Python</title>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}""></script>
</head>
<body>
  <p>Interactua con el Chatbot!</p>
  <input type="text" id="data" placeholder="tipea algo">
  <button type="submit" id="send">
    Enviar
  </button>
  <br>
  <div class="message"></div>
</body>
</html>