<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JS - Python</title>
</head>
<body>
  <p>POST JSON to Python</p>
  <input type="text" id="data" placeholder="tipea algo">
  <button type="submit" onclick="send_data()">
    Enviar a Python
  </button>
  {% if dataBot: %}
    <p>{{ dataBot }}</p>
  {% endif %}
</body>
<script>
  function send_data() {
    const data  = document.getElementById("data").value
    const xhr = new XMLHttpRequest()
    xhr.open('POST', "/get-data/"+JSON.stringify(data))
    xhr.send()
    console.log(xhr.responseText)
  }
</script>
</html>